/** Add a comment at the beginning of your CSS styles with your name **/
/**Angela's Style**/
body {
	background-color: lightcoral;
	color: teal;
	text-decoration: none;
	font-family:'Open Sans', sans-serif;
}

